[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"
ipdb = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"
django-model-utils = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
